
body{
    margin:0px;
    padding:0px;
 }
 #top-bannar{
    width:100vw;
    height:100vh;
    background-image:url(images/donation13.jpg);
    background-size: cover;
    border: 1px solid rgb(245, 241, 241);
 }
 .top-bannar-description{
   color:white;
   text-align: center;
   padding-top:136px;
 }
 .donate-btn{
    text-decoration:none;
    background-color: rgba(245, 9, 9, 0.589);
    color:rgb(247, 237, 237);
    padding:17px 35px;
    border-radius: 15px;
    margin-top:19px;
    display:inline-block;
    font-weight: bold;
 }
 h1{
    margin:0px;
    font-size: 67px;
 }
 h4{
    font-size:22px;
     
 }
 /*****Only section style here******/
 section{
    margin-bottom:120px;
 }
 /******donate money section******/
 .Donate{
    text-align: center;
 }
 #donate-money{
    display:flex;
    justify-content: center;
    
 }
 #donate-money{
    margin-top:39px;
 }
 #donate-money div{
  
    width:120px;
    height: 120px;
    margin:0px 12px;
    font-size :34px;
    font-weight: bold;
    background-color: aliceblue;
 }
 .active{
    border:2px solid red;
 }
 h2{
    font-size: 34px;
    font-weight:bold;
 }
 .select-donate {
    margin-top:32px;
 }
 .select-donate input{
    text-align: center;
    width:700px;
    border:none;
    font-size: 22px;
    border-bottom: 1px solid rgb(107, 101, 101);
 }
  
 